[flake8]
# Ignora ciertos errores que entran en conflicto con Black
# W503: line break before binary operator (Black lo hace al revés)
# E203: whitespace before ':' (no es compatible con Black)
ignore = E203, W503

# Establece la longitud máxima de línea a 88, que es el estándar de Black
max-line-length = 88

# Excluye directorios que no necesitan ser analizados
exclude =
    .git,
    __pycache__,
    .venv,
    alembic/versions/
