# --- Dependencias Principales de la Aplicación ---
fastapi
uvicorn

# --- Base de Datos y Asincronía ---
SQLAlchemy~=2.0.43
asyncpg
greenlet

# --- Caching y Colas (Redis) ---
redis

# --- Autenticación y Seguridad ---
python-jose~=3.5.0
passlib~=1.7.4

# --- Validación de Datos ---
pydantic~=2.11.9

# --- Mensajería (RabbitMQ) ---
aio-pika~=9.5.7
