# Incluye las dependencias de producción
-r requirements.txt

# --- Herramientas de Calidad de Código y Testing ---
# Formateador de código
black

# Linter de calidad de código
flake8

# Gestor de Git Hooks para automatización
pre-commit

# Framework de Testing
pytest
